node_modules/**
.vscode/**
.git/**
src/**           # Exclure les fichiers source TypeScript
out/test/**      # Exclure les fichiers de test
**/*.map         # Exclure les fichiers sourcemaps
.vscodeignore
webpack.config.js
tsconfig.json
